streamlit
pandas
numpy
scikit-learn  # Required for ML model loading
xgboost  # If using XGBoost
matplotlib
wordcloud
requests
beautifulsoup4
opencv-python  # Correct package name for OpenCV
pyzbar
fpdf
